<div class="container-fluid">
			<script src="js/holder/holder.js"></script>
			
          <h1 class="page-header">Dashboard</h1>

          <div class="row placeholders">
            <!--
            <div class="col-xs-6 col-sm-3 placeholder">
              <img data-src="holder.js/200x200/auto/sky" class="img-responsive" alt="Generic placeholder thumbnail">
              <h4>Fuerza</h4>
              <span class="text-muted">Something else</span>
            </div>
            <div class="col-xs-6 col-sm-3 placeholder">
              <img data-src="holder.js/200x200/auto/vine" class="img-responsive" alt="Generic placeholder thumbnail">
              <h4>Resistencia</h4>
              <span class="text-muted">Something else</span>
            </div>
            <div class="col-xs-6 col-sm-3 placeholder">
              <img data-src="holder.js/200x200/auto/sky" class="img-responsive" alt="Generic placeholder thumbnail">
              <h4>Vol&uacute;men</h4>
              <span class="text-muted">Something else</span>
            </div>
            <div class="col-xs-6 col-sm-3 placeholder">
              <img data-src="holder.js/200x200/auto/vine" class="img-responsive" alt="Generic placeholder thumbnail">
              <h4>C&aacute;rdio</h4>
              <span class="text-muted">Something else</span>
            </div>
            -->                      
            <div class="col-xs-12 col-sm-6 col-sm-6 placeholder">
              <div google-chart chart="chartObject" style="height:400px; width:100%;"></div>
            </div>
            <div class="col-xs-12 col-sm-6 col-sm-6 placeholder">
              <div google-chart chart="chartObjectAgXCamp" style="height:400px; width:100%;"></div>            
            </div>
          </div>
</div>