<div class="container-fluid">
	<h1 class="page-header">Solicitud de Empresa</h1>

      <form name="exForm" novalidate class="css-form">
		<div class="form-group">
			<label for="exName">Nombre</label><br/>
			<div class="panel panel-default"><div class="panel-body">
				{{empresa.nombre}}
			</div></div>
		</div>
		
		<div class="form-group">
			<label for="razonsocial">Razón Social</label><br/>
			<div class="panel panel-default"><div class="panel-body">
				{{empresa.razonsocial}}
			</div></div>			
		</div>
		<div class="form-group">
			<label for="rfc">RFC</label><br/>
			<div class="panel panel-default"><div class="panel-body">
				{{empresa.rfc}}
			</div></div>			
		</div>		
		
		<a type="button" class="btn btn-info" href="#/embarqSolicitudEmpresaEdit/{{empresa.id}}">Editar</a>
		<!--<button class="btn btn-link" href="#/embarqAltaEmpresa">Regresar a las solicitudes</button> -->
		<button class="btn btn-link" ng-click="cancel()">Regresar a las solicitudes</button>
      </form>
	  <br/>
</div>