<div class="container-fluid">
	<br/>
	<br/>
	<h1 class="page-header" align="center">Corrida</h1>
	<link href="css/panels.css" rel="stylesheet">
    <form name="exForm" novalidate class="form-500">
	   	<div class="panel panel-info">

	   		<div class="panel-heading" align="center">
	   		<!--	
				<a type="button" class="btn btn-info" href="#/embarqCorridaEdit/{{corrida.id}}">Editar</a>
			-->
				<button class="btn btn-link" ng-click="cancel()">Regresar a la lista de Corridas</button>
	   		</div>

	   		<div class="panel-body" >

				<ul class="nav nav-tabs">
				  <li><a href="#/embarqRutaShow/{{ruta.id}}">General</a></li>
				  <li><a href="#/mapaview/{{ruta.id}}">Mapa</a></li>
				  <li class="active"><a href="#">Corridas</a></li>
				</ul>
				<br/>
				<div class="form-group" >
					<label for="dias">Habilitada los dias:</label><br/>
					<ul class="nav nav-pills">
						<li class="active" ng-show="corrida.dia1==true"><a>Lun</a></li>
						<li ng-show="corrida.dia1==false"><a>Lun</a></li>

						<li class="active" ng-show="corrida.dia2==true"><a>Mar</a></li>
						<li ng-show="corrida.dia2==false"><a>Mar</a></li>

						<li class="active" ng-show="corrida.dia3==true"><a>Mie</a></li>
						<li ng-show="corrida.dia3==false"><a>Mie</a></li>

						<li class="active" ng-show="corrida.dia4==true"><a>Jue</a></li>
						<li ng-show="corrida.dia4==false"><a>Jue</a></li>

						<li class="active" ng-show="corrida.dia5==true"><a>Vie</a></li>
						<li ng-show="corrida.dia5==false"><a>Vie</a></li>

						<li class="active" ng-show="corrida.dia6==true"><a>Sab</a></li>
						<li ng-show="corrida.dia6==false"><a>Sab</a></li>

						<li class="active" ng-show="corrida.dia7==true"><a>Dom</a></li>
						<li ng-show="corrida.dia7==false"><a>Dom</a></li>
					</ul>
				</div>
				<div class="form-group">
					<label for="horaSalida">Hora de salida</label><br/>
					<div class="panel panel-default"><div class="panel-body">
						{{corrida.horaSalida}}
					</div></div>
				</div>
				<div class="form-group">
					<label for="horaLlegada">Hora de llegada</label><br/>
					<div class="panel panel-default"><div class="panel-body">
						{{corrida.horaLlegada}}
					</div></div>			
				</div>
				<div class="form-group">
					<label for="capacidadTotal">Capacidad total</label><br/>
					<div class="panel panel-default"><div class="panel-body">
						{{corrida.capacidadTotal}}
					</div></div>			
				</div>		
				<div class="form-group">
					<label for="capacidadReservada">Capacidad reservada</label><br/>
					<div class="panel panel-default"><div class="panel-body">
						{{corrida.capacidadReservada}}
					</div></div>			
				</div>		
				<div class="form-group">
					<label for="capacidadOfertada">Capacidad ofertada</label><br/>
					<div class="panel panel-default"><div class="panel-body">
						{{corrida.capacidadOfertada}}
					</div></div>			
				</div>				
				<div class="form-group">
					<label for="tarifa">Tarifa</label><br/>
					<div class="panel panel-default"><div class="panel-body">
						{{corrida.tarifa}}
					</div></div>			
				</div>				
				<div class="form-group">
					<label for="idTransporte">Transporte</label><br/>
					<div class="panel panel-default"><div class="panel-body">
						{{corrida.idTransporte}}
					</div></div>			
				</div>				
				<div class="form-group">
					<label for="idChofer">Chofer</label><br/>
					<div class="panel panel-default"><div class="panel-body">
						{{corrida.idChofer}}
					</div></div>			
				</div>	
			</div>

			<div class="panel-heading" align="center">		
			<!--		
				<a type="button" class="btn btn-info" href="#/embarqCorridaEdit/{{corrida.id}}">Editar</a>
			-->
				<button class="btn btn-link" ng-click="cancel()">Regresar a la lista de Corridas</button>
			</div>
		</div>		
    </form>
    <br/>
</div>