<div class="container-fluid">
	<script src="js/holder/holder.js"></script>	
	<h1 class="page-header">Ruta</h1>

      <form name="exForm" novalidate class="css-form">
     	<input type="hidden" id="id" name="id" ng-model="ruta.id"/>
     	<input type="hidden" id="CompanyownerID" name="CompanyownerID" ng-model="ruta.CompanyownerID" value="{{usuario.empresa}}"/>
		<div class="form-group" ng-class="{ 'has-error' : exForm.exName.$invalid && !exForm.exName.$pristine }">
			<label for="exName">Nombre</label><br/>
			<input type="text" class="form-control" placeholder="Nombre corto de la ruta" id="exName" name="exName" ng-model="ruta.nombre" ng-minlength="3" ng-maxlength="60" required/>
			<p ng-show="exForm.exName.$invalid && !exForm.exName.$pristine" class="help-block">Se requiere el nombre de la ruta.</p>
			<p ng-show="exForm.exName.$error.minlength" class="help-block">Nombre demasiado corto.</p>
			<p ng-show="exForm.exName.$error.maxlength" class="help-block">Nombre demasiado largo.</p>  
		</div>
		<div class="form-group" ng-class="{ 'has-error' : exForm.origentxt.$invalid && !exForm.origentxt.$pristine }">
			<label for="origentxt">Origen</label><br/>
			<input type="text" class="form-control" placeholder="Origen de la ruta" id="origentxt" name="origentxt" ng-model="ruta.origentxt"/>
			<p ng-show="exForm.origentxt.$invalid && !exForm.origentxt.$pristine" class="help-block">Se requiere el origen de la ruta.</p>
		</div>
		<div class="form-group" ng-class="{ 'has-error' : exForm.destinotxt.$invalid && !exForm.destinotxt.$pristine }">
			<label for="destinotxt">Destino</label><br/>
			<input type="text" class="form-control" placeholder="Destino de la ruta" id="destinotxt" name="destinotxt" ng-model="ruta.destinotxt"/>
			<p ng-show="exForm.destinotxt.$invalid && !exForm.destinotxt.$pristine" class="help-block">Se requiere el destino de la ruta.</p>
		</div>			
		<div class="form-group" ng-class="{ 'has-error' : exForm.descripcion.$invalid && !exForm.descripcion.$pristine }">
			<label for="descripcion">Descripci&oacute;n</label><br/>
			<input type="text" class="form-control" placeholder="Breve descripci&oacute;n de la ruta" id="descripcion" name="descripcion" ng-model="ruta.descripcion"/>
			<p ng-show="exForm.descripcion.$invalid && !exForm.descripcion.$pristine" class="help-block">Se requiere la descripc&oacute;n de la ruta.</p>
		</div>			
		<div class="form-group" ng-class="{ 'has-error' : exForm.distanciaaprox.$invalid && !exForm.distanciaaprox.$pristine }">
			<label for="distanciaaprox">Distancia aprox. (Km)</label><br/>
			<input type="number" class="form-control" placeholder="12.1" id="distanciaaprox" name="distanciaaprox" ng-model="ruta.distanciaaprox" min="1" step="any"/>
			<p ng-show="exForm.distanciaaprox.$invalid && !exForm.distanciaaprox.$pristine" class="help-block">Se requiere la distancia aproximada de la ruta.</p>
		</div>			
		<div class="form-group" ng-class="{ 'has-error' : exForm.tiempoaprox.$invalid && !exForm.tiempoaprox.$pristine }">
			<label for="tiempoaprox">Tiempo aprox. (min)</label><br/>
			<input type="number" class="form-control" placeholder="23" id="tiempoaprox" name="tiempoaprox" ng-model="ruta.tiempoaprox" min="1" step="any"/>
			<p ng-show="exForm.tiempoaprox.$invalid && !exForm.tiempoaprox.$pristine" class="help-block">Se requiere el tiempo aproximado de la ruta.</p>
		</div>			

		<button type="submit" class="btn btn-success" ng-disabled="exForm.$invalid" ng-click="save(ruta)">Siguiente</button>
		<button class="btn btn-link" ng-click="cancel()">Cancelar</button>
      </form>
      </form>
	  <br/>
	  				  		
</div>