<div class="container-fluid">
	<br/>
	<br/>
	<h1 class="page-header" align="center">Ruta</h1>
	<link href="css/panels.css" rel="stylesheet">
    <form name="exForm" novalidate class="form-600">
	   	<div class="panel panel-info">

	   		<div class="panel-heading" align="center">
	   			<!--
				<a type="button" class="btn btn-info" href="#/mapaview/{{ruta.id}}">Ver Mapa</a>					
				<a type="button" class="btn btn-info" href="#/embarqCorridaList">Ver Corridas</a>					
			-->
				<a type="button" class="btn btn-info" href="#/embarqRutaEdit/{{ruta.id}}">Editar</a>
				<button class="btn btn-link" ng-click="cancel()">Regresar a la lista de Rutas</button>
	   		</div>

	   		<div class="panel-body" >

				<ul class="nav nav-tabs">
				  <li class="active"><a href="#">General</a></li>
				  <li><a href="#/embarqMapaShow/{{ruta.id}}">Mapa</a></li>
				  <li><a href="#/embarqCorridaList/{{ruta.id}}">Corridas</a></li>
				  <li><a href="#/embarqRutaUsuariosList/{{ruta.id}}">Usuarios registrados</a></li>				
				</ul>
				<br/>
				<div class="form-group">
					<label for="diasofertafuturo">D&iacute;as de oferta anticipada:</label><br/>
					<div class="panel panel-default"><div class="panel-body">
						<font color="gray">{{ruta.diasofertafuturo}}</font>
					</div></div>
				</div>				
				<div class="form-group">
					<label for="exName">Nombre</label><br/>
					<div class="panel panel-default"><div class="panel-body">
						{{ruta.nombre}}
					</div></div>
				</div>
				<div class="form-group">
					<label for="origentxt">Origen</label><br/>
					<div class="panel panel-default"><div class="panel-body">
						{{ruta.origentxt}}
					</div></div>			
				</div>
				<div class="form-group">
					<label for="destinotxt">Destino</label><br/>
					<div class="panel panel-default"><div class="panel-body">
						{{ruta.destinotxt}}
					</div></div>			
				</div>		
				<div class="form-group">
					<label for="descripcion">Descripci&oacute;n</label><br/>
					<div class="panel panel-default"><div class="panel-body">
						{{ruta.descripcion}}
					</div></div>			
				</div>		
				<div class="form-group">
					<label for="distanciaaprox">Distancia aprox. (Km)</label><br/>
					<div class="panel panel-default"><div class="panel-body">
						{{ruta.distanciaaprox}}
					</div></div>			
				</div>		
				<div class="form-group">
					<label for="tiempoaprox">Tiempo aprox. (min)</label><br/>
					<div class="panel panel-default"><div class="panel-body">
						{{ruta.tiempoaprox}}
					</div></div>			
				</div>	

			</div>	

			<div class="panel-heading" align="center">			
				<!-- <a type="button" class="btn btn-info" href="#/embarqRutaEdit/{{ruta.id}}">Editar</a> 
				<a type="button" class="btn btn-info" href="#/mapaview/{{ruta.id}}">Ver Mapa</a>					
				<a type="button" class="btn btn-info" href="#/embarqCorridaList">Ver Corridas</a>		
				-->			
				<button class="btn btn-link" ng-click="cancel()">Regresar a la lista de Rutas</button>
			</div>	
		</div>	
    </form>
 	<br/>
</div>