<div class="container-fluid">
	<script src="js/holder/holder.js"></script>	
	<h1 class="page-header">Ruta</h1>

      <form name="exForm" novalidate class="css-form">
     	<input type="hidden" id="id" name="id" ng-model="ruta.id"/>
		<div class="form-group" ng-class="{ 'has-error' : exForm.exName.$invalid && !exForm.exName.$pristine }">
			<label for="exName">Nombre</label><br/>
			<input type="text" class="form-control" placeholder="Nombre corto de la ruta" id="exName" name="exName" ng-model="ruta.nombre" ng-minlength="3" ng-maxlength="60" required/>
			<p ng-show="exForm.exName.$invalid && !exForm.exName.$pristine" class="help-block">Se requiere el nombre de la ruta.</p>
			<p ng-show="exForm.exName.$error.minlength" class="help-block">Nombre demasiado corto.</p>
			<p ng-show="exForm.exName.$error.maxlength" class="help-block">Nombre demasiado largo.</p>   			
		</div>
		<div class="form-group" ng-class="{ 'has-error' : exForm.origentxt.$invalid && !exForm.origentxt.$pristine }">
			<label for="origentxt">Origen</label><br/>
			<input type="text" class="form-control" placeholder="Origen de la ruta" id="origentxt" name="origentxt" ng-model="ruta.origentxt"/>
		</div>
		<div class="form-group" ng-class="{ 'has-error' : exForm.destinotxt.$invalid && !exForm.destinotxt.$pristine }">
			<label for="destinotxt">Destino</label><br/>
			<input type="text" class="form-control" placeholder="Destino de la ruta" id="destinotxt" name="destinotxt" ng-model="ruta.destinotxt"/>
		</div>			
		<button type="submit" class="btn btn-success" ng-disabled="exForm.$invalid" ng-click="save(ruta)">Siguiente</button>
		<button class="btn btn-link" ng-click="cancel()">Cancelar</button>
      </form>
	  <br/>
	  				  		
</div>