<div class="container-fluid">
    <h1 class="page-header">Perfil</h1>

		<div class="form-group">
			<label for="exName">Nombre</label><br/>
			<div class="panel panel-info"><div class="panel-body">
				{{user.nombre}}
			</div></div>
		</div>

		<div class="form-group">
			<label for="razonsocial">Razón Social</label><br/>
			<div class="panel panel-info"><div class="panel-body">
				{{user.razonsocial}}
			</div></div>			
		</div>
		<div class="form-group">
			<label for="rfc">RFC</label><br/>
			<div class="panel panel-info"><div class="panel-body">
				{{user.rfc}}
			</div></div>			
		</div>		
</div>