<br/>
<br/>
<br/>
<div class="container-fluid form-400">
	<h1 class="page-header">Usuario</h1>
	<link href="css/panels.css" rel="stylesheet">
    <form name="exForm" novalidate>
	   	<div class="panel panel-info">

	   		<div class="panel-heading" align="center">
				<a type="button" class="btn btn-info" href="#/empresaUsuarioEdit/{{usuario.id}}">Editar</a>
				<button class="btn btn-link" ng-click="cancel()">Regresar</button>
	   		</div>
	   			
	   		<div class="panel-body" >	
				<div class="form-group">
					<label for="email">Correo electr&oacute;nico</label><br/>
					<div class="panel panel-default"><div class="panel-body">
						{{usuario.email}}
					</div></div>			
				</div>
				<div class="form-group">
					<label for="exName">Nombre</label><br/>
					<div class="panel panel-default"><div class="panel-body">
						{{usuario.nombre}}
					</div></div>
				</div>
				<div class="form-group">
					<label for="password">Clave</label><br/>
					<div class="panel panel-default"><div class="panel-body">
						{{usuario.passwordCoded}}
					</div></div>			
				</div>	
			</div>	

			<div class="panel-heading" align="center">	
				<a type="button" class="btn btn-info" href="#/empresaUsuarioEdit/{{usuario.id}}">Editar</a>
				<button class="btn btn-link" ng-click="cancel()">Regresar</button>
			</div>
		</div>		
    </form>
    <br/>
</div>