<link href="css/mapa.css" rel="stylesheet">
<script src="js/mapa.js"></script>
<div class="container-fluid">
  <br/>
  <br/>
  <h1 class="page-header" align="center">Mi Ruta</h1>
  <link href="css/panels.css" rel="stylesheet">
  <div class="form-1200">
    <div class="panel panel-info">

      <div class="panel-heading" align="center">
        <button class="btn btn-link" ng-click="cancel()">Regresar a mis Rutas</button>
      </div>

      <div class="panel-body" align="center">
        <ul class="nav nav-tabs">
          <li><a href="#/empresaRutaShow/{{rutaid}}">General</a></li>
          <li class="active"><a href="#">Mapa</a></li>
          <li><a href="#/empresaCorridaList/{{rutaid}}">Corridas</a></li>
          <li><a href="#/empresaRutaUsuariosList/{{rutaid}}">Usuarios registrados</a></li>
        </ul>        
        <!--
        <div onload ="mapa();" aling="center" class="btn-group" style="width:100%;" ng-show="pMapa == null">

          <button class="btn btn-primary" type="button" id="Botpuntos" disabled>Carga Puntos</button>
          <button class="btn btn-danger" type="button" id="limpia" disabled>Limpiar</button>
          <button class="btn btn-success" type="button" id="carga" disabled>Guarda</button>

        </div>-->
        <div class="alert alert-danger alert-dismissable" ng-show="(errMsg != null)&&(errMsg != '')">
          <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
          <strong>Error!</strong> {{errMsg}}
        </div>
        <div class="alert alert-success alert-dismissable" ng-show="(sucMsg != null)&&(sucMsg != '')">
          <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
          {{sucMsg}}
        </div>  
        <img ng-show="(pMapa==null)&&(errMsg == null)" alt="Loading  Content" src="imgs/loading.gif" height="25px" />    
        <div bn-slide-show="message!=''" slide-show-duration="500" style="float: center" ng-class="messageType">
          <p ng-bind-html="message"></p>
        </div>
        <div class="box efecto3" id="map_canvas" style="width: 90%; height: 100%"></div>
      </div>

      <div class="panel-heading" align="center">
        <b class="page-header" align="center">Detalle de los puntos geogr&aacute;ficos de la ruta</b>
      </div>

      <div class="panel-body" align="center">
        <div id="consulta" ng-show="pMapa != null">
          <table class="table table-striped">
            <thead>
              <tr>
<!--                <th>ID</th>-->
                <th>Marcador</th>
                <th>Tipo</th>
                <th>Descripci&oacute;n</th>
                <!--<th>Latitud</th>
                <th>Longitud</th>-->
              </tr>
            </thead>
          <tbody>
            <img ng-show="(pMapa==null)&&(errMsg == null)" alt="Loading  Content" src="imgs/loading.gif" height="25px" />    
            <div bn-slide-show="message!=''" slide-show-duration="500" style="float: center" ng-class="messageType">
              <p ng-bind-html="message"></p>
            </div>            
            <tr ng-repeat="emp in pMapa | filter:query | orderBy:orderProp ">
              <!--<td>{{emp.id}}</td>-->
              <td ng-show="emp.tipo == 1" align="center" width="1%"><span><img src="imgs/1.png" alt="Origen"/><span/></td>
              <td ng-show="emp.tipo == 2" align="center"><span><img src="imgs/2.png" alt="Destino"/><span/></td>
              <td ng-show="emp.tipo == 3" align="center"><span><img src="imgs/3.png" alt="Parada"/><span/></td>
              <td ng-show="emp.tipo == 4" align="center"><span><img src="imgs/4.png" alt="Vuelta"/><span/></td>

              <td ng-show="emp.tipo == 1">Inicio</td>
              <td ng-show="emp.tipo == 2">Final</td>
              <td ng-show="emp.tipo == 3">Parada</td>
              <td ng-show="emp.tipo == 4">Vuelta</td>
              <td>{{emp.descripcion}}</td>
              <!--<td>{{emp.latitud}}</td>
              <td>{{emp.longitud}}</td>-->
            </tr>
          </tbody>
        </table>
        </div>
      </div>
        
      <div class="panel-heading" align="center">
        <button class="btn btn-link" ng-click="cancel()">Regresar a mis Rutas</button>
      </div>

</div>