<br/>
<br/>
<br/>
<div class="container-fluid form-500">
	<script src="js/holder/holder.js"></script>	
	<h1 class="page-header">Solicitud de nuevo usuario</h1>

      <form name="exForm" novalidate class="css-form">
     	<input type="hidden" id="id" name="id" ng-model="usuario.id"/>
		<div class="form-group" ng-class="{ 'has-error' : exForm.exName.$invalid && !exForm.exName.$pristine }">
			<label for="exName">Nombre</label><br/>
			<input type="text" class="form-control" placeholder="Nombre corto del usuario" id="exName" name="exName" ng-model="usuario.nombre" ng-minlength="3" ng-maxlength="60" required/>
			<p ng-show="exForm.exName.$invalid && !exForm.exName.$pristine" class="help-block">Se requiere el nombre del usuario.</p>
			<p ng-show="exForm.exName.$error.minlength" class="help-block">Nombre demasiado corto.</p>
			<p ng-show="exForm.exName.$error.maxlength" class="help-block">Nombre demasiado largo.</p>   			
		</div>
		<div class="form-group" ng-class="{ 'has-error' : exForm.email.$invalid && !exForm.email.$pristine }">
			<label for="email">E-mail</label><br/>
			<input type="text" class="form-control" placeholder="Empresa S.A. de C.V." id="email" name="email" ng-model="usuario.email"/>
		</div>
		<button type="submit" class="btn btn-success" ng-disabled="exForm.$invalid" ng-click="save(usuario)">Guardar</button>
		<button class="btn btn-link" ng-click="cancel()">Cancelar</button>
      </form>
	  <br/>
	  				  		
</div>