<div class="container-fluid">
    <h1 class="page-header">Mis Rutas
		<div style="float:right;">
			<a type="button" class="btn btn-info btn-xs" href="#/empresaRutaNew"><span class="glyphicon glyphicon-plus"></span>Crear ruta</a>
		</div>
    </h1>
	<div class="alert alert-danger alert-dismissable" ng-show="(errMsg != null)&&(errMsg != '')">
	  <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
	  <strong>Error!</strong> {{errMsg}}
	</div>
	<div class="alert alert-success alert-dismissable" ng-show="(sucMsg != null)&&(sucMsg != '')">
	  <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
	  {{sucMsg}}
	</div>  
	<img ng-show="(rutas==null)&&(errMsg == null)" alt="Loading  Content" src="imgs/loading.gif" height="25px" />		
	<div bn-slide-show="message!=''" slide-show-duration="500" style="float: center" ng-class="messageType">
		<p ng-bind-html="message"></p>
	</div>
	<div class="table-responsive">
		<table class="table table-striped">
			<thead>
				<tr>
					<th width="10%">
						<div class="input-group">
							<span class="input-group-addon"><a href="" ng-click="orderProp='id'"><b>ID</b></a></span>
							<input ng-model="query.id" type="text" class="form-control input-sm" placeholder="ID" />
						</div>
					</th>
					<th width="15%">
						<div class="input-group">
							<span class="input-group-addon"><a href="" ng-click="orderProp='companyownernombre'"><b>Empresa</b></a></span>
							<input ng-model="query.companyownernombre" type="text" class="form-control input-sm" placeholder="Empresa" />
						</div>
					</th>
					<th width="15%">
						<div class="input-group">
							<span class="input-group-addon"><a href="" ng-click="orderProp='nombre'"><b>Nombre</b></a></span>
							<input ng-model="query.nombre" type="text" class="form-control input-sm" placeholder="Nombre" />
						</div>
					</th>
					<th width="12%">
						<div class="input-group">
							<span class="input-group-addon"><a href="" ng-click="orderProp='origentxt'"><b>Origen</b></a></span>
							<input ng-model="query.origentxt" type="text" class="form-control input-sm" placeholder="Origen" />
						</div>
					</th>
					<th width="12%">
						<div class="input-group">
							<span class="input-group-addon"><a href="" ng-click="orderProp='destinotxt'"><b>Destino</b></a></span>
							<input ng-model="query.destinotxt" type="text" class="form-control input-sm" placeholder="Destino" />
						</div>
					</th>	
					<th width="4%">
						<div class="input-group">
							<span class="input-group-addon"><a href="" ng-click="orderProp='recorridoParadas'"><b>Paradas</b></a></span>
							<!--<input ng-model="query.recorridoParadas" type="text" class="form-control input-sm" placeholder="Paradas" />-->
						</div>
					</th>					
					<th width="4%">
						<div class="input-group">
							<span class="input-group-addon"><a href="" ng-click="orderProp='capacidadReservada'"><b>Reservado</b></a></span>
							<!--<input ng-model="query.capacidadReservada" type="text" class="form-control input-sm" placeholder="Nombre" />-->
						</div>
					</th>					
					<th width="4%">
						<div class="input-group">
							<span class="input-group-addon"><a href="" ng-click="orderProp='capacidadOfertada'"><b>Ofertado</b></a></span>
							<!--<input ng-model="query.capacidadOfertada" type="text" class="form-control input-sm" placeholder="Nombre" />-->
						</div>
					</th>		
					<th>-</th>
				</tr>
			</thead>
			<tbody>			
				<!--
				<p> {{rutas}}</p>
			-->
				<tr ng-repeat="ruta in rutas | filter:query | orderBy:orderProp">
					<td>{{ruta.id}}</td>
					<td>{{ruta.companyownernombre}}</td>
					<td><a href="#/empresaRutaShow/{{ruta.id}}">{{ruta.nombre}}</a></td>
					<td>{{ruta.origentxt}}</td>
					<td>{{ruta.destinotxt}}</td>
					<td>{{ruta.recorridoParadas}}</td>
					<td>{{ruta.capacidadReservada}}</td>
					<td>{{ruta.capacidadOfertada}}</td>					
					<td>
						<a type="button" class="btn btn-info" href="#/empresaRutaShow/{{ruta.id}}"><span class="glyphicon glyphicon-zoom-in"></span></a>
						<a type="button" class="btn btn-info" href="#/empresaMapaShow/{{ruta.id}}"><span class="glyphicon glyphicon-map-marker"></span></a>						
						<a type="button" class="btn btn-info" href="#/empresaCorridaList/{{ruta.id}}"><span class="glyphicon glyphicon-calendar"></span></a>
						<a type="button" class="btn btn-danger" ng-click="deleteRuta(ruta.id)"><span class="glyphicon glyphicon-remove"></span></a>
					</td>

				</tr>
			</tbody>
		</table>		
		
	</div>
</div>