<br/>
<br/>
<br/>
<div class="container-fluid form-400">
   	<h1 class="page-header" align="center">Perf&iacute;l de Empresa</h1>
	<link href="css/panels.css" rel="stylesheet">
	<div>
	   	<div class="panel panel-info">
	   		<div class="panel-heading" align="center">
				<a type="button" class="btn btn-info" href="#/empresaPerfilEdit">Editar</a>
		    </div>	
			<div class="panel-body">
				<div class="form-group">
					<label for="exName">Nombre</label><br/>
					<div class="panel panel-info"><div class="panel-body">
						{{empresa.nombre}}
					</div></div>
				</div>
				<div class="form-group">
					<label for="razonsocial">Razón Social</label><br/>
					<div class="panel panel-info"><div class="panel-body">
						{{empresa.razonsocial}}
					</div></div>			
				</div>
				<div class="form-group">
					<label for="rfc">RFC</label><br/>
					<div class="panel panel-info"><div class="panel-body">
						{{empresa.rfc}}
					</div></div>			
				</div>		
			</div>	
	   		<div class="panel-heading" align="center">
				<a type="button" class="btn btn-info" href="#/empresaPerfilEdit">Editar</a>
		    </div>	
		    	
	<!--		
			<div class="panel-footer">
				<a type="button" class="btn btn-info" href="#/empresaPerfilEdit">Editar</a>
			</div>	
		-->
		</div>	
	</div>	
</div>