<div class="container-fluid">
	<h1 class="page-header">Solicitudes de nuevos usuarios</h1>

	<div class="btn-toolbar" role="toolbar">
      <div class="btn-group" style="width:100%;">
      	
      	<div class="input-group">			
      	<!--
			<span class="input-group-addon" style="background-color:lightgreen"><a type="button" class="btn btn-success btn-xs" ng-click="autorizarTodo()"><span class="glyphicon glyphicon-ok"></span>Autorizar todo</a></span>
			<span class="input-group-addon" style="background-color:red"><a type="button" class="btn btn-danger btn-xs" ng-click="rechazarTodo()"><span class="glyphicon glyphicon-remove"></span>Rechazar todo</a></span>
		-->
			<span class="input-group-addon">Buscar: </span>
		  	<input ng-model="query" type="text" class="form-control" placeholder="Filtar lista de usuarios"/>
		</div>
<!--
		<input ng-model="query" type="text"/>					
	-->	
		<img ng-show="usuarios==null" alt="Loading  Content" src="imgs/loading.gif" height="25px" />		

		<!--<button ng-click="testAlert('success')">Esxx</button>-->
		<div bn-slide-show="message!=''" slide-show-duration="500" style="float: center" ng-class="messageType">
			<p ng-bind-html="message"></p>
		</div>		

      </div>
    </div>

	<div class="table-responsive">
		<table class="table table-striped">
			<thead>
				<tr>
					<th><a href="" ng-click="orderProp='id'">ID</a></th>
					<th><a href="" ng-click="orderProp='nombre'">Nombre</a></th>
					<th><a href="" ng-click="orderProp='email'">E-mail</a></th>
					<th>-</th>
				</tr>
			</thead>
			<tbody>			
				<tr ng-repeat="usr in usuarios | filter:query | orderBy:orderProp">
					<td>{{usr.id}}</td>
					<td><a href="#/empresaSolicitudUsuarioShow/{{usr.id}}">{{usr.nombre}}</a></td>
					<td>{{usr.email}}</td>
					<td>
						<a type="button" class="btn btn-info" href="#/empresaSolicitudUsuarioShow/{{usr.id}}"><span class="glyphicon glyphicon-zoom-in"></span></a>
						<a type="button" class="btn btn-danger" ng-click="removerUsuario(usr.id)"><span class="glyphicon glyphicon-remove"></span></a>
					</td>

				</tr>
			</tbody>
		</table>		
		
	</div>	
    

</div>