<div class="container-fluid">
    <h1 class="page-header">Mis Reservaciones</h1>
	<div class="btn-toolbar" role="toolbar">
		<ul class="nav nav-tabs">
		  	<li ng-class="tabActive[0]"><a href="" ng-click="selectTab(0)">Por confirmar</a></li>
		  	<li ng-class="tabActive[1]"><a href="" ng-click="selectTab(1)">Confirmadas</a></li>
		  	<li ng-class="tabActive[2]"><a href="" ng-click="selectTab(2)">Canceladas</a></li>
		  	<li ng-class="tabActive[3]"><a href="" ng-click="selectTab(3)">En espera</a></li>
		</ul>
		<div class="alert alert-danger alert-dismissable" ng-show="(errMsg != null)&&(errMsg != '')">
		  <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
		  <strong>Error!</strong> {{errMsg}}
		</div>
		<div class="alert alert-success alert-dismissable" ng-show="(sucMsg != null)&&(sucMsg != '')">
		  <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
		  {{sucMsg}}
		</div>  
		<img ng-show="(reservaciones==null)&&(errMsg == null)" alt="Loading  Content" src="imgs/loading.gif" height="25px" />		
		<div bn-slide-show="message!=''" slide-show-duration="500" style="float: center" ng-class="messageType">
			<p ng-bind-html="message"></p>
		</div>
	</div>
	<div class="table-responsive">
		<table class="table table-striped">
			<thead>
				<tr>			
					<th width="10%">
						<div class="input-group">
							<span class="input-group-addon"><a href="" ng-click="orderProp='id'"><span class="glyphicon glyphicon-arrow-up"></span></a></span>
							<input ng-model="query.id" type="text" class="form-control input-sm" placeholder="Folio" />
						</div>
					</th>
					<!--<th><a href="" ng-click="orderProp='folio'">Folio</a></th>-->
					<th width="15%">
						<div class="input-group">
							<span class="input-group-addon"><a href="" ng-click="orderProp='rutumnombre'"><span class="glyphicon glyphicon-arrow-up"></span></a></span>
							<input ng-model="query.rutumnombre" type="text" class="form-control input-sm" placeholder="Nombre" />
						</div>
					</th>
					<!--<th><a href="" ng-click="orderProp='rutum.nombre'">Nombre</a></th>-->
					<!--<th width="10%">Origen - Destino</th>-->
					<th width="10%">
						<div class="input-group">
							<span class="input-group-addon"><a href="" ng-click="orderProp='rutumorigentxt'"><span class="glyphicon glyphicon-arrow-up"></span></span>
							<input ng-model="query.rutumorigentxt" type="text" class="form-control input-sm" placeholder="Origen" />
						</div>
					</th>
					<th width="15%">
						<div class="input-group">
							<span class="input-group-addon"><a href="" ng-click="orderProp='rutumdestinotxt'"><span class="glyphicon glyphicon-arrow-up"></span></span>
							<input ng-model="query.rutumdestinotxt" type="text" class="form-control input-sm" placeholder="Destino" />
						</div>
					</th>					
					<th width="10%">
						<div class="input-group">
							<span class="input-group-addon"><a href="" ng-click="orderProp='rutaCorridahoraSalidaFmt'"><span class="glyphicon glyphicon-arrow-up"></span></span>
							<input ng-model="query.rutaCorridahoraSalidaFmt" type="text" class="form-control input-sm" placeholder="Hora de salida" />
						</div>
					</th>
					<!--<a href="" ng-click="orderProp='rutaCorrida.horaSalidaFmt'">Hora de salida</a></th>-->
					<th width="10%">
						<div class="input-group">
							<span class="input-group-addon"><a href="" ng-click="orderProp='rutaCorridahoraLlegadaFmt'"><span class="glyphicon glyphicon-arrow-up"></span></a></span>
							<input ng-model="query.rutaCorridahoraLlegadaFmt" type="text" class="form-control input-sm" placeholder="Hora de llegada" />
						</div>
					</th>
					<!--<th><a href="" ng-click="orderProp='rutaCorrida.horaLlegadaFmt'">Hora de llegada</a></th>-->
					<th width="10%">
						<div class="input-group">
							<span class="input-group-addon"><a href="" ng-click="orderProp='fechaCreada'"><span class="glyphicon glyphicon-arrow-up"></span></a></span>
							<input ng-model="query.fechaCreada" type="text" class="form-control input-sm" placeholder="Reservado el" />
						</div>
					</th>
					<!--<th><a href="" ng-click="orderProp='fechaCreada'">Reservado el</a></th>-->
					<th width="10%" ng-show="tabActive[3]==''">
						<div class="input-group">
							<span class="input-group-addon"><a href="" ng-click="orderProp='fechaReservada'"><span class="glyphicon glyphicon-arrow-up"></span></a></span>
							<input ng-model="query.fechaReservada" type="text" class="form-control input-sm" placeholder="Reservado para" />
						</div>
					</th>
					<!--<th ng-show="tabActive[3]==''"><a href="" ng-click="orderProp='fechaReservada'">Reservado para</a></th>-->
					<th width="10%" ng-show="tabActive[3]=='active'">
						<div class="input-group">
							<span class="input-group-addon"><a href="" ng-click="orderProp='fechaEspera'"><span class="glyphicon glyphicon-arrow-up"></span></a></span>
							<input ng-model="query.fechaEspera" type="text" class="form-control input-sm" placeholder="Esperando para" />
						</div>
					</th>
					<!--<th ng-show="tabActive[3]=='active'"><a href="" ng-click="orderProp='fechaEspera'">Esperando para</a></th>-->
					<th>-</th>
				</tr>
			</thead>
			<tbody>			
				<tr ng-repeat="reservacion in reservaciones | filter:query | orderBy:orderProp">
					<td>{{reservacion.folio}}</td>
					<td>{{reservacion.rutum.nombre}}</td>
					<td>{{reservacion.rutum.origentxt}}</td>
					<td>{{reservacion.rutum.destinotxt}}</td>
					<td>{{reservacion.rutaCorrida.horaSalidaFmt}}</td>
					<td>{{reservacion.rutaCorrida.horaLlegadaFmt}}</td>
					<td>{{reservacion.fechaCreada}}</td>
					<td>{{reservacion.fechaReservada}}</td>
					<td>
						<!--
						<a type="button" class="btn btn-info" href="#/usuarioShowMapa/{{reservacion.RutaId}}"><span class="glyphicon glyphicon-map-marker"></span></a> 
						<a type="button" class="btn btn-info" ng-click="show(reservacion)"><span class="glyphicon glyphicon-zoom-in"></span></a>
						-->
						<a type="button" class="btn btn-success" ng-show="tabSelected=='new'" ng-click="confirm(reservacion)"><span class="glyphicon glyphicon-ok"></span></a>
						<a type="button" class="btn btn-danger" ng-show="tabSelected=='new'" ng-click="cancel(reservacion)"><span class="glyphicon glyphicon-remove"></span></a>
						<a type="button" class="btn btn-danger" ng-show="tabSelected=='confirmed'" ng-click="cancel(reservacion)"><span class="glyphicon glyphicon-remove"></span></a>
					</td>

				</tr>
			</tbody>
		</table>		
		
	</div>

	<!-- Modal - Reservación -->
	<div class="modal fade modal-wide" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
		<div class="modal-dialog">
		    <div class="modal-content">
		      	<div class="modal-header">
					<div class="alert alert-danger alert-dismissable" ng-show="(errMsg != null)&&(errMsg != '')">
					  <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
					  <strong>Error!</strong> {{errMsg}}
					</div>
					<div class="alert alert-success alert-dismissable" ng-show="true">
					  <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
					  {{sucMsg}}
					</div>	
			        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
			        <h4 class="modal-title" id="myModalLabel">{{sug.ruta.nombre}}</h4>
			        <br/>
			        {{sug.ruta.origentxt}} - {{sug.ruta.destinotxt}}	
			        <br/>
			        {{sug.ascensoSugerido.rutaPunto.descripcion}}	
			        <br/>
			        {{sug.descensoSugerido.rutaPunto.descripcion}}	
		    	</div>

		    	<div class="modal-body">
		    		<!--
					<div class="list-group">
						<a ng-repeat="corrida in corridas | filter:query | orderBy:orderProp" href="#" class="list-group-item">
							<h4 class="list-group-item-heading">List group item heading</h4>
							<p class="list-group-item-text">...</p>
						</a>
							<a href="#" class="list-group-item">
							<h4 class="list-group-item-heading">List group item heading</h4>
							<p class="list-group-item-text">...</p>
						</a>
							<a href="#" class="list-group-item">
							<h4 class="list-group-item-heading">List group item heading</h4>
							<p class="list-group-item-text">...</p>
						</a>
					</div>
				-->

					<div class="table-responsive">
						<table class="table table-striped">
							<thead>
								<tr>
									<th><a href="" ng-click="orderProp='id'">ID</a></th>
									<th><a href="" ng-click="orderProp='horaSalidaFmt'">Hora de salida</a></th>
									<th><a href="" ng-click="orderProp='horaLlegadaFmt'">Hora de llegada</a></th>
									<th><a href="" ng-click="orderProp='oferta'">Lugares disponibles</a></th>
									<th><a href="" ng-click="orderProp='tarifa'">Tarifa (MX$)</a></th>
									<th>Folio</th>
								</tr>
							</thead>

							<tbody>			
								<tr ng-repeat="corrida in corridas | filter:query | orderBy:orderProp">
									<td>{{corrida.id}}</td>
									<td>{{corrida.rutaCorrida.horaSalidaFmt}}</td>
									<td>{{corrida.rutaCorrida.horaLlegadaFmt}}</td>
									<td>{{corrida.oferta}}</td>
									<td>${{corrida.rutaCorrida.tarifa}}</td>
									<td>
										<!-- ESPERA con oferta -->
										<p ng-show="(corrida.oferta > 0) && (corrida.espera == null)"></p>
										<p ng-show="(corrida.oferta > 0) && (corrida.espera != null)">Reservaci&oacute;n en espera {{corrida.espera.folio}}</p>
										<!-- ESPERA sin oferta -->
										<p ng-show="(corrida.oferta <= 0) && (corrida.espera != null)">Reservaci&oacute;n en espera {{corrida.espera.folio}}</p>
										<a ng-show="(corrida.oferta <= 0) && (corrida.espera == null)" type="button" class="btn btn-warning" ng-click="esperar(corrida)">Lista de espera</a>

										<!-- RESERVACION con oferta -->
										<a ng-show="(corrida.oferta > 0) && (corrida.reservacion == null)" type="button" class="btn btn-success" ng-click="reservar(corrida)">Reservar</a>
										<p ng-show="(corrida.oferta > 0) && (corrida.reservacion != null)">Reservaci&oacute;n {{corrida.reservacion.folio}}</p>
									
										<!-- RESERVACION sin oferta -->
										<p ng-show="(corrida.oferta <= 0) && (corrida.reservacion != null)">Reservaci&oacute;n {{corrida.reservacion.folio}}</p>
										<p ng-show="(corrida.oferta <= 0) && (corrida.reservacion == null)"></p>
									</td>
								</tr>
							</tbody>
						</table>
					</div>				

		    	</div>

			    <div class="modal-footer">
			        <button type="button" class="btn btn-default" data-dismiss="modal">Cerrar</button>
			        <!--
			        <button type="button" class="btn btn-success">Salvar cambios</button>
			    -->
			    </div>
			
	    	</div>
	  	</div>
	</div>	<!-- End Modal -->	
</div>