<link href="css/mapa.css" rel="stylesheet">
<script src="js/mapa-busqueda.js"></script>
<div class="container-fluid">
	<br/>
	<br/>
	<h1 class="page-header" align="center">Buscar Ruta</h1>
	<link href="css/panels.css" rel="stylesheet">
	<div class="form-1200">
   	    <div class="panel panel-info">

			<div class="panel-heading" align="center">
				<b>Buscar por direcci&oacute;n</b>
			</div>

			<div class="panel-body">
				<div class="table-responsive">
					<table class="table table-striped">
						<tbody>			
							<tr>
								<td>
									<div class="form-group" ng-class="{ 'has-error' : exForm.origentxt.$invalid && !exForm.origentxt.$pristine }">
										<label for="origentxt">Origen</label><br/>
										<input type="text" class="form-control" placeholder="Origen de la ruta" id="origentxt" name="origentxt" ng-model="ruta.origentxt"/>
										<p ng-show="exForm.origentxt.$invalid && !exForm.origentxt.$pristine" class="help-block">Se requiere el origen de la ruta.</p>
									</div>
								</td>
								<td>
									<div class="form-group" ng-class="{ 'has-error' : exForm.destinotxt.$invalid && !exForm.destinotxt.$pristine }">
										<label for="destinotxt">Destino</label><br/>
										<input type="text" class="form-control" placeholder="Destino de la ruta" id="destinotxt" name="destinotxt" ng-model="ruta.destinotxt"/>
										<p ng-show="exForm.destinotxt.$invalid && !exForm.destinotxt.$pristine" class="help-block">Se requiere el destino de la ruta.</p>
									</div>	
								</td>
								<td style="vertical-align:middle" align="center">
									<button type="submit" class="btn btn-success" ng-disabled="exForm.$invalid" ng-click="ubicar(ruta)">Ubicar en mapa</button>
								</td>

							</tr>
						</tbody>
					</table>		
					
				</div>			

			</div>  

			<div class="panel-heading" align="center">
				<b>Buscar en mapa</b>
			</div>

			<!-- ayuda en seleccion de mapa -->
			<div class="animate-switch-container" ng-switch on="PointCount">

				<div class="panel-body" align="center">
					<!-- 0 points -->
					<div class="animate-switch" ng-switch-when="0">
						<b>Ubicar el origen de tu viaje en el mapa</b>
					</div>
					<!-- 1 points -->
					<div class="animate-switch" ng-switch-when="1">
						<b>Ubicar el destino de tu viaje en el mapa</b>
					</div>
					<!-- 2 points -->
					<div class="animate-switch" ng-switch-when="2">
						<b>Refina tu origen y destino, posteriormente presiona sugerir ruta</b> 
					</div>
					<div  class="box efecto3" id="map_canvas"></div><br/>
				</div>   
					 
			</div>				
	    </div>

		<div class="animate-switch" ng-if="PointCount == 2">
			<div class="panel panel-success">
				<div class="panel-heading" align="center">
					<!-- sugerir rutas -->
					Origen: {{OrigenLat}}, {{OrigenLng}} <br>
					Destino: {{DestinoLat}}, {{DestinoLng}} <br>
					<button type="submit" class="btn btn-success" ng-disabled="exForm.$invalid" ng-click="sugerir()">Sugerir nuevas rutas</button>
				</div>

				<div class="panel-body" align="center">

					<div class="btn-toolbar" role="toolbar">
				      <div class="btn-group" style="width:100%;">
				      	
				      	<div class="input-group">			
							<span class="input-group-addon">Buscar: </span>
						  	<input ng-model="query" type="text" class="form-control" placeholder="Filtar lista de rutas"/>
						</div>
						<img ng-show="cargandorutas==true" alt="Loading  Content" src="imgs/loading.gif" height="25px" />		
						<div bn-slide-show="message!=''" slide-show-duration="500" style="float: center" ng-class="messageType">
							<p ng-bind-html="message"></p>
						</div>		

				      </div>
				    </div>

					<div class="table-responsive">
						<table class="table table-striped">
							<thead>
								<tr>
									<th><a href="" ng-click="orderProp='lejania'">Lejanía</a></th>
									<th>Ruta</th>
									<th>Origen - Destino</th>
									<th>Subirse en</th>
									<th>Bajarse en</th>
								</tr>
							</thead>
							<tbody>			
								<!--
								<p> {{rutas}}</p>
							-->
								<tr ng-repeat="sug in rutasuggest | filter:query | orderBy:orderProp">
									<td>{{sug.lejania}}</td>
									<td>{{sug.ruta.nombre}}</td>
									<td>{{sug.ruta.origentxt}} - {{sug.ruta.destinotxt}}</td>
									<td>{{sug.ascensoSugerido.rutaPunto.descripcion}}</td>
									<td>{{sug.descensoSugerido.rutaPunto.descripcion}}</td>
								</tr>
							</tbody>
						</table>		
						
					</div>
				</div>
			</div> 
		</div>
	</div>  

<!--
      <div class="panel-body" align="center">
        <div id="consulta" ng-show="pMapa != null">
          <table class="table table-striped">
            <thead>
              <tr>
                <th>ID</th>
                <th>Descripci&oacuten</th>
                <th>Latitud</th>
                <th>Longitud</th>
                <th>Tipo</th>
              </tr>
            </thead>
          <tbody>
            <tr ng-repeat="emp in pMapa | filter:query | orderBy:orderProp ">
              <td>{{emp.id}}</td>
              <td>{{emp.descripcion}}</td>
              <td>{{emp.latitud}}</td>
              <td>{{emp.longitud}}</td>
              <td>{{emp.tipo}}</td>
            </tr>
          </tbody>
        </table>
        </div>
      </div>
    -->
        
</div>