<div class="container-fluid">
	<br/>
	<br/>
	<script src="js/holder/holder.js"></script>

	<link href="css/panels.css" rel="stylesheet">
    <h1 align="center" class="page-header">Perf&iacute;l de Usuario</h1>
	<form name="exForm" novalidate class="form-400">
		<div class="panel panel-success">

			<div class="panel-heading" align="center">
				<button type="submit" class="btn btn-success" ng-disabled="exForm.$invalid" ng-click="save(usuario)">Guardar</button>
				<button class="btn btn-link" href="#/login" ng-click="cancel()">Cancelar</button>
			</div>

			<div class="panel-body">
		     	<input type="hidden" id="id" name="id" ng-model="usuario.id"/>
		     	<input type="hidden" id="EmpresaId" name="EmpresaId" ng-model="usuario.EmpresaId"/>
<!--		     	<input type="hidden" id="email" name="email" ng-model="usuario.email"/> -->
				<div class="form-group">
					<label for="email"><font color="gray">Correo electr&oacute;nico</font></label><br/>
					<div class="panel panel-default"><div class="panel-body">
						<font color="gray">{{usuario.email}}</font>
					</div></div>			
				</div>
				<div class="form-group" ng-class="{ 'has-error' : exForm.exName.$invalid && !exForm.exName.$pristine }">
					<label for="exName">Nombre</label><br/>
					<input type="text" class="form-control" placeholder="Nombre corto del usuario" id="exName" name="exName" ng-model="usuario.nombre" ng-minlength="4" ng-maxlength="60" required/>
					<p ng-show="exForm.exName.$invalid && !exForm.exName.$pristine" class="help-block">Se requiere el nombre del usuario.</p>
					<p ng-show="exForm.exName.$error.minlength" class="help-block">Nombre demasiado corto.</p>
					<p ng-show="exForm.exName.$error.maxlength" class="help-block">Nombre demasiado largo.</p>   			
				</div>
				<div class="form-group" ng-class="{ 'has-error' : exForm.password.$invalid && !exForm.password.$pristine }">
					<label for="password">Clave</label><br/>
					<input type="text" class="form-control" placeholder="Clave secreta del usuario" id="password" name="password" ng-model="usuario.password" ng-minlength="3" required/>
					<p ng-show="exForm.password.$error.minlength" class="help-block">La longitud m&iacute;nima de la clave es de 3.</p>
				</div>					
			</div>

			<div class="panel-heading" align="center">
				<button type="submit" class="btn btn-success" ng-disabled="exForm.$invalid" ng-click="save(usuario)">Guardar</button>
				<button class="btn btn-link" href="#/login" ng-click="cancel()">Cancelar</button>
			</div>
		</div>	
	</form>
	<br/>
</div>