<div class="container-fluid">
	<script src="js/holder/holder.js"></script>
	<link href="css/mapa.css" rel="stylesheet">
	<script src="js/mapa-busqueda.js"></script>
	<br/>
	<br/>
	<h1 class="page-header" align="center">Buscar Ruta</h1>
	<link href="css/panels.css" rel="stylesheet">
	<link href="css/modal.css" rel="stylesheet">
	
	<div class="form-1200">

		<div class="animate-switch" ng-show="mostrarSugerencias==true">
			<div class="panel panel-info">
				<div class="panel-heading" align="center">
					<!-- sugerir rutas -->
					<b>Lista de rutas sugeridas</b>
<!--
					<b>Origen</b>: {{OrigenLat}}, {{OrigenLng}} <br>
					<b>Destino</b>: {{DestinoLat}}, {{DestinoLng}} <br>
				-->
				</div>

				<div class="panel-body" align="center">

					<div class="btn-toolbar" role="toolbar">
				      <div class="btn-group" style="width:100%;">
				      	
				      	<div class="input-group">			
							<span class="input-group-addon">Buscar: </span>
						  	<input ng-model="query" type="text" class="form-control" placeholder="Filtar lista de rutas"/>
						</div>
						<img ng-show="cargandorutas==true" alt="Loading Content" src="imgs/loading.gif" height="25px" />		
						<div bn-slide-show="message!=''" slide-show-duration="500" style="float: center" ng-class="messageType">
							<p ng-bind-html="message"></p>
						</div>		

				      </div>
				    </div>

					<div class="table-responsive">
						<table class="table table-striped">
							<thead>
								<tr>
									<th><span class="glyphicon glyphicon-star"></span></th>
									<th><a href="" ng-click="orderProp='lejania'">Lejan&iacute;a (mts)</a></th>
									<th>Ruta</th>
									<th>Origen - Destino</th>
									<th>Subirse en</th>
									<th>Bajarse en</th>
									<th>-</th>
								</tr>
							</thead>

							<tbody>			
								<tr ng-repeat="sug in rutasuggest | filter:query | orderBy:orderProp">
									<td ng-show="sug.ruta.isFavorite == true">
										<a type="button"  class="btn btn-warning" ng-click="favorito(sug.ruta)">
											<span class="glyphicon glyphicon-star"></span>
										</a>
									</td>
									<td ng-show="sug.ruta.isFavorite != true">
										<a type="button"  class="btn btn-default" ng-click="favorito(sug.ruta)">
											<span class="glyphicon glyphicon-star-empty"></span>
										</a>
									</td>

									<td>{{sug.lejania}}</td>
									<td>{{sug.ruta.nombre}}</td>
									<td>{{sug.ruta.origentxt}} - {{sug.ruta.destinotxt}}</td>
									<td>{{sug.ascensoSugerido.rutaPunto.descripcion}}</td>
									<td>{{sug.descensoSugerido.rutaPunto.descripcion}}</td>
									<td>
										<!--
										<a type="button" class="btn btn-info" href="#/embarqRutaShow/{{ruta.id}}"><span class="glyphicon glyphicon-zoom-in"></span></a>
										<a type="button" class="btn btn-info" href="#/mapaview/{{ruta.id}}"><span class="glyphicon glyphicon-map-marker"></span></a>
										<a type="button" class="btn btn-info" href="#/usuarioList/{{sug.ruta.id}}"><span class="glyphicon glyphicon-calendar"></span></a>
										<a type="button" class="btn btn-success" ng-click="reservar(sug.ruta.id)"><span class="glyphicon glyphicon-screenshot"></span></a>
										-->
										<button type="submit" class="btn btn-info" ng-click="showCorridaList(sug.ruta)">
											Ver detalle
										</button>
										<button type="submit" class="btn btn-info" ng-click="showMapa(sug.ruta)">
											<span class="glyphicon glyphicon-map-marker"></span>
										</button>					
									
										<!-- Modal - Corrida de las rutas -->
										<div class="modal fade modal-wide" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
											<div class="modal-dialog">
											    <div class="modal-content">

											      	<div class="modal-header">
												        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
												        <h4 class="modal-title" id="myModalLabel">{{sug.ruta.nombre}}</h4>
												        <br/>
												        {{sug.ruta.origentxt}} - {{sug.ruta.destinotxt}}	
												        <br/>
												        {{sug.ascensoSugerido.rutaPunto.descripcion}}	
												        <br/>
												        {{sug.descensoSugerido.rutaPunto.descripcion}}	
											    	</div>

											    	<div class="modal-body">
											    		<!--
														<div class="list-group">
															<a ng-repeat="corrida in corridas | filter:query | orderBy:orderProp" href="#" class="list-group-item">
																<h4 class="list-group-item-heading">List group item heading</h4>
																<p class="list-group-item-text">...</p>
															</a>
																<a href="#" class="list-group-item">
																<h4 class="list-group-item-heading">List group item heading</h4>
																<p class="list-group-item-text">...</p>
															</a>
																<a href="#" class="list-group-item">
																<h4 class="list-group-item-heading">List group item heading</h4>
																<p class="list-group-item-text">...</p>
															</a>
														</div>
													-->

														<div class="table-responsive">
															<table class="table table-striped">
																<thead>
																	<tr>
																		<th><a href="" ng-click="orderProp='id'">ID</a></th>
																		<th><a href="" ng-click="orderProp='horaSalidaFmt'">Hora de salida</a></th>
																		<th><a href="" ng-click="orderProp='horaLlegadaFmt'">Hora de llegada</a></th>
																		<th><a href="" ng-click="orderProp='oferta'">Lugares disponibles</a></th>
																		<th><a href="" ng-click="orderProp='tarifa'">Tarifa (MX$)</a></th>
																		<th>Folio</th>
																	</tr>
																</thead>

																<tbody>			
																	<tr ng-repeat="corrida in corridas | filter:query | orderBy:orderProp">
																		<td>{{corrida.id}}</td>
																		<td>{{corrida.rutaCorrida.horaSalidaFmt}}</td>
																		<td>{{corrida.rutaCorrida.horaLlegadaFmt}}</td>
																		<td>{{corrida.oferta}}</td>
																		<td>${{corrida.rutaCorrida.tarifa}}</td>
																		<td>

																			<a ng-show="(corrida.oferta <= 0) && (corrida.reservacion == null)" type="button" class="btn btn-warning" ng-click="esperar(corrida)">Lista de espera</a>
																			<a ng-show="(corrida.oferta > 0) && (corrida.reservacion == null)" type="button" class="btn btn-success" ng-click="reservar(corrida)">Reservar</a>
																			<p ng-show="(corrida.oferta > 0) && (corrida.reservacion != null)">Reservaci&oacute;n {{corrida.reservacion.folio}}</p>
																		
																		</td>
																	</tr>
																</tbody>
															</table>
														</div>				

											    	</div>

												    <div class="modal-footer">
												        <button type="button" class="btn btn-default" data-dismiss="modal">Cerrar</button>
												        <!--
												        <button type="button" class="btn btn-success">Salvar cambios</button>
												    -->
												    </div>
												
										    	</div>
										  	</div>
										</div>	<!-- End Modal -->

									</td>									
								</tr>
							</tbody>
						</table>		
						
					</div>
				</div>

				<div class="panel-heading" align="center">
					<button type="submit" class="btn btn-info" ng-disabled="exForm.$invalid" ng-click="sugerir()">Sugerir nuevas rutas</button>
				</div>

			</div> 
		</div>

   	    <div class="panel panel-primary">
			<div class="panel-heading" align="center">
				<!-- ayuda en seleccion de mapa -->

				<!-- sin sugerencias -->
				<div class="animate-switch" ng-if="mostrarSugerencias==false">
					<b>Ubicar el origen y destino de tu ruta.</b>
				</div>
				<!-- con sugerencias -->
				<div class="animate-switch" ng-if="mostrarSugerencias==true">
					<b>Refina tu origen y destino, posteriormente presiona "Sugerir nuevas rutas"</b> 
				</div>
						 
			</div>

			<div class="panel-body">
				<div class="table-responsive">
					<table class="table">
						<tbody>			
							<tr>
								<td>
									<div class="form-group" ng-class="{ 'has-error' : exForm.origentxt.$invalid && !exForm.origentxt.$pristine }">
										<img src="imgs/Origen.png" alt="Origen">
										<label for="origentxt">Origen</label>
										<input type="text" class="form-control" placeholder="Origen de la ruta" id="origentxt" name="origentxt" ng-model="ruta.origentxt" required/>
										<p ng-show="exForm.origentxt.$invalid && !exForm.origentxt.$pristine" class="help-block">Se requiere el origen de la ruta.</p>
									</div>
								</td>
								<td>
									<div class="form-group" ng-class="{ 'has-error' : exForm.destinotxt.$invalid && !exForm.destinotxt.$pristine }">
										<img src="imgs/Destino.png" alt="Destino">
										<label for="destinotxt">Destino</label>
										<input type="text" class="form-control" placeholder="Destino de la ruta" id="destinotxt" name="destinotxt" ng-model="ruta.destinotxt" required/>
										<p ng-show="exForm.destinotxt.$invalid && !exForm.destinotxt.$pristine" class="help-block">Se requiere el destino de la ruta.</p>
									</div>	
								</td>
								<!--
								<td style="vertical-align:middle" align="center">
									<button type="submit" class="btn btn-primary" ng-disabled="exForm.$invalid" ng-click="ubicar(ruta)">Ubicar en mapa</button>
								</td>
-->
							</tr>
							<tr>
								<td colspan="2">
									<div class="box efecto3" id="map_canvas" style="width: 90%; height: 100%"></div>
								</td>
							</tr>		
						</tbody>
					</table>		
					
				</div>			

			</div>  
			

	    </div>

	</div>  

<!--
      <div class="panel-body" align="center">
        <div id="consulta" ng-show="pMapa != null">
          <table class="table table-striped">
            <thead>
              <tr>
                <th>ID</th>
                <th>Descripci&oacuten</th>
                <th>Latitud</th>
                <th>Longitud</th>
                <th>Tipo</th>
              </tr>
            </thead>
          <tbody>
            <tr ng-repeat="emp in pMapa | filter:query | orderBy:orderProp ">
              <td>{{emp.id}}</td>
              <td>{{emp.descripcion}}</td>
              <td>{{emp.latitud}}</td>
              <td>{{emp.longitud}}</td>
              <td>{{emp.tipo}}</td>
            </tr>
          </tbody>
        </table>
        </div>
      </div>
    -->
        
</div>