extends layout

block content

	h3 Solicitud de contacto,

	p ¡Has recibido una nueva solicitud de contacto!

	p Los datos proporcionados se muestran a continuación:

	ul
		li: p 
			| Nombre: 
			b #{contacto.nombre}
		li: p 
			| E-mail: 
			a(href='mailto:#{contacto.correo}') #{contacto.correo}
		li: p 
			| Mensaje: 
			b #{contacto.mensaje}