extends layout

block content

	h3 Estimado #{usuario.nombre},

	p Respondiendo a tu solicitud, te recordamos tus datos de ingreso a Rutas Empresariales:

	ul
		li: p 
			| Usuario: 
			b #{usuario.email}
		li: p 
			| Contraseña: 
			b #{usuario.password}

	p 	
	a(href='#{config.homeurl}') ¡Ingresa a tu perfil!