extends layout

block content

	h3 Estimado #{usuario.nombre},

	p Respondiendo a su solicitud, a continuación se adjunta su contraseña de acceso:

	ul
		li: p 
			| Contraseña: 
			b #{usuario.password}