extends layout

block content

	h3 Estimad@,

	p Se ha registrado el siguiente comentario en Rutas Empresariales,

	p 	
	b Empresa: 
	| #{empresa.nombre}
	
	p 
	b Usuario: 
	a(href='mailto:#{usuario.email}') #{usuario.nombre}

	p
	b Comentario:

	p #{sugerencia.comentario}