extends layout

block content

	h3 Estimado #{usuario.nombre},

	p ¡Te han invitado a utilizar el servicio de Rutas Empresariales! 

	p
	| Completa 
	a(href='#{config.homeurl}/#registro/#{usuario.id}') aquí 
	| tu registro y conoce los 
	b beneficios 
	| de utilizar el servicio de Rutas Empresariales.
	